@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: "Inter", sans-serif;
    margin: 100px;
    padding: 0;
    background: url(fundo.png);
    background-size: 100% 150%;
    background-repeat: no-repeat;
}
html {
    height: 100%;
}
.container {
    background-color: rgba(255, 255, 255, 0.211);
    border: 5px solid rgba(255, 255, 255, 0.608);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.criarconta {
    margin-top: -100px
}

.esquerdo {
    width: 50%;
    background-color: #ffffff5a;
    border-radius: 12px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.esquerdo h1 {
    font-size: 42px;
    font-weight: 300;
    color: #545151;
}
.botao {
    padding: 10px 40px;
    background: none;
    background-color: #ECE2E7;
    border: 4px solid #fff;
    border-radius: 40px;
    font-size: 22px;
    color: #BA829F;
    font-weight: 600;
    transition: .33s;
    cursor: pointer;
}
.botao a {
    color: #BA829F;
    text-decoration: none;
} 
.botao:hover {
    background-color:#BA829F;
}
.botao:hover a {
    color: #ECE2E7;
}
.direito {
    padding: 20px 40px;
    width: 150%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
}
.direito h1 {
    font-size: 42px;
    font-weight: 300;
    color: #545151;
}
.input {
    display: flex;
    align-items: center;
    background-color: #ffffff5a;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 20px;
    border: 3px solid #fff;
}
.input img {
    width: 28px;
    height: 28px;
}
.input-item {
    background: transparent;
    outline: none;
    border: none;
    font-size: 22px;
}
.input-item::placeholder {
    color: #BA829F;
}
.direito a {
    color: #000;
    font-weight: 300;
    font-size: 18px;
}
.botao-entrar {
    padding: 10px 60px;
    background: none;
    background-color: #BA829F;
    border-radius: 40px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    transition: .33s;
    cursor: pointer;
    border: none;
}
.botao-entrar:hover {
    background-color:#ECE2E7;
    color: #BA829F;
}
.social {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social img {
    width: 72px;
}
.cl-checkbox {
    position: relative;
    display: inline-block;
   }
   
   /* Input */
   .cl-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
   }
   
   /* Span */
   .cl-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
   }
   
   /* Box */
   .cl-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
   }
   
   /* Checkmark */
   .cl-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
   }
   
   /* Checked, Indeterminate */
   .cl-checkbox > input:checked,
   .cl-checkbox > input:indeterminate {
    background-color: #018786;
   }
   
   .cl-checkbox > input:checked + span::before,
   .cl-checkbox > input:indeterminate + span::before {
    border-color: #018786;
    background-color: #018786;
   }
   
   .cl-checkbox > input:checked + span::after,
   .cl-checkbox > input:indeterminate + span::after {
    border-color: #fff;
   }
   
   .cl-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
   }
   
   /* Hover, Focus */
   .cl-checkbox:hover > input {
    opacity: 0.04;
   }
   
   .cl-checkbox > input:focus {
    opacity: 0.12;
   }
   
   .cl-checkbox:hover > input:focus {
    opacity: 0.16;
   }
   
   /* Active */
   .cl-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
   }
   
   .cl-checkbox > input:active + span::before {
    border-color: #85b8b7;
   }
   
   .cl-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
   }
   
   /* Disabled */
   .cl-checkbox > input:disabled {
    opacity: 0;
   }
   
   .cl-checkbox > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
   }
   
   .cl-checkbox > input:disabled + span::before {
    border-color: currentColor;
   }
   
   .cl-checkbox > input:checked:disabled + span::before,
   .cl-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
   }
   
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    gap: 20px;
}

.inputCriar {
    background-color: #fcfcfc33;
    border: 4px solid #fff;
    border-radius: 18px;
    padding: 10px 40px;
    color: #79747E;
    font-size: 18px;
    outline: none;
}

.campoLargo {
    width: 65%;
    background-color: #fcfcfc33;
    border: 4px solid #fff;
    border-radius: 18px;
    padding: 10px 40px;
    color: #79747E;
    font-size: 18px;
    outline: none;
}

.termos {
    display: flex;
    align-items: center;
    width: 65%;
}

.termos h2 {
    font-size: 14px;
    color: #79747E;
    font-weight: 500;
}

.termos h2 span {
    font-weight: 600;
    color: #BA829F;
    cursor: pointer;
}